[submodule "django-dropbox-storage"]
	path = django-dropbox-storage
	url = git@github.com:adriankokai/django-dropbox-storage.git
[submodule "kazmarket/django_dropbox_storage"]
	path = kazmarket/django_dropbox_storage
	url = git@github.com:adriankokai/django-dropbox-storage.git
